.mb-3{
    width: 50vw !important;
}

.accordion-button{
    background-color: white !important;
    max-width: 50vw;

    
}
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-item{
    width: 50vw !important;
} 
#accordionExample, #headingOne {
    width: 50vw !important; 
} 
.accordion {
    max-width: 50vw !important;
    display: flex !important;
    justify-content: space-around !important;
} img {
width: 45vw;
}
